<div class="full-body">
  <div class="card-center">
    <h5>Sinto muito, ocorreu um erro no pagamento</h5>

    <p>Para tentar novamente, clique no link: <br><%= link_to "Seguir para pagamento", checkout_path, id: 'pay', method: :get %></p>
  </div>
</div>
