<div class="full-body">
  <div class="card-center">
    <h5>Muito obrigada!! Seja bem vindo aos Elos! </h5>

    <p>Você receberá um e-mail nós próximos dias com a primeira edição do Elos!</p>
  </div>
</div>
