<div class="full-body">
  <div class="card-center">

    <h4 >Eeeeeeee!!! Agora você é um dos elos da minha poesia. <3  </h4>

    <p>Obrigada por ser suporte da arte. Em breve receberá um email com material exclusivo para os apoiadores.</p>
  </div>
</div>
